--
-- DayZ Epoch 1.0.6.1 for extDB2
--
-- ONLY RUN THIS FILE IF CREATING A NEW DATABASE.
-- EXISTING 1051 DATABASES SHOULD USE 1.0.6_UPDATES.SQL INSTEAD AND THEN RUN 1.0.6.1_UPDATES.SQL.
-- EXISTING 106 DATABASES SHOULD USE 1.0.6.1_UPDATES.SQL INSTEAD.
--

SET FOREIGN_KEY_CHECKS=0;

-- ----------------------------------
-- Table structure for table `character_data`
-- ----------------------------------

CREATE TABLE IF NOT EXISTS `character_data` (
  `character_id` int(11) unsigned NOT NULL AUTO_INCREMENT,
  `player_uid` varchar(32) NOT NULL,
  `instance_id` int(11) NOT NULL,
  `datestamp` datetime DEFAULT NULL,
  `last_login` datetime NOT NULL,
  `inventory_magazines` text NOT NULL,
  `inventory_weapons` text NOT NULL,
  `inventory_onback` varchar(64) NOT NULL DEFAULT '',
  `backpack` varchar(64) NOT NULL,
  `backpack_magazines` text NOT NULL,
  `backpack_weapons` text NOT NULL,
  `ws_napf_x` double(13,5) NOT NULL DEFAULT '0.00000',
  `ws_napf_y` double(13,5) NOT NULL DEFAULT '0.00000',
  `ws_napf_z` double(13,5) NOT NULL DEFAULT '0.00000',
  `ws_napf_dir` double(13,5) NOT NULL DEFAULT '0.00000',
  `ws_cherno_x` double(13,5) NOT NULL DEFAULT '0.00000',
  `ws_cherno_y` double(13,5) NOT NULL DEFAULT '0.00000',
  `ws_cherno_z` double(13,5) NOT NULL DEFAULT '0.00000',
  `ws_cherno_dir` double(13,5) NOT NULL DEFAULT '0.00000',
  `med_dead` tinyint(4) NOT NULL,
  `med_unconscious` tinyint(4) NOT NULL,
  `med_infected` tinyint(4) NOT NULL,
  `med_injured` tinyint(4) NOT NULL,
  `med_inpain` tinyint(4) NOT NULL,
  `med_cardiac` tinyint(4) NOT NULL,
  `med_lowblood` tinyint(4) NOT NULL,
  `med_bloodqty` int(11) NOT NULL,
  `med_wounds` text NOT NULL,
  `med_hit_legs` double(13,5) NOT NULL,
  `med_hit_arms` double(13,5) NOT NULL,
  `med_unconscious_time` double(13,5) NOT NULL,
  `med_blood_type` varchar(3) NOT NULL DEFAULT '?',
  `med_rh_factor` tinyint(4) NOT NULL DEFAULT '0',
  `med_messing` varchar(32) NOT NULL,
  `med_blood_testdone` tinyint(4) NOT NULL DEFAULT '0',
  `alive` tinyint(4) unsigned NOT NULL DEFAULT '1',
  `generation` int(11) unsigned NOT NULL DEFAULT '1',
  `last_ate` datetime NOT NULL,
  `last_drank` datetime NOT NULL,
  `kills_z` int(11) unsigned NOT NULL DEFAULT '0',
  `headshots_z` int(11) unsigned NOT NULL DEFAULT '0',
  `dist_foot` int(11) NOT NULL DEFAULT '0',
  `duration` int(11) unsigned NOT NULL DEFAULT '0',
  `current_weapon` varchar(64) NOT NULL DEFAULT '',
  `current_anim` varchar(96) NOT NULL DEFAULT '',
  `current_temp` tinyint(4) unsigned NOT NULL DEFAULT '100',
  `friendlies` text NOT NULL,
  `kills_h` int(11) unsigned NOT NULL DEFAULT '0',
  `kills_b` int(11) unsigned NOT NULL DEFAULT '0',
  `humanity` int(11) NOT NULL DEFAULT '2500',
  `model` varchar(50) NOT NULL DEFAULT 'Survivor2_DZ',
  `infected` tinyint(3) NOT NULL DEFAULT '0',
  `coins` bigint(20) NOT NULL DEFAULT '0',
  `last_updated` timestamp NULL DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`character_id`),
  KEY `character_id` (`character_id`),
  KEY `char_fetch` (`player_uid`,`alive`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;

-- ----------------------------------
-- Table structure for table `object_data_intermediate`
-- ----------------------------------

CREATE TABLE `object_data_intermediate` (
  `object_id` int(11) NOT NULL AUTO_INCREMENT,
  `player_uid` varchar(32) NOT NULL,
  `instance_from` int(11) unsigned NOT NULL,
  `instance_to` int(11) unsigned NOT NULL,
  `classname` varchar(50) NOT NULL DEFAULT '',
  `driver` varchar(32) NOT NULL,
  `commander` varchar(32) NOT NULL,
  `turrets` text NOT NULL,
  `cargo` text NOT NULL,
  `datestamp` datetime NOT NULL,
  `character_id` int(11) unsigned NOT NULL DEFAULT '0',
  `inventory_magazines` text NOT NULL,
  `inventory_weapons` text NOT NULL,
  `inventory_backpacks` text NOT NULL,
  `hitpoints` varchar(512) NOT NULL DEFAULT '[]',
  `fuel` double(13,5) NOT NULL DEFAULT '1.00000',
  `damage` double(13,5) NOT NULL DEFAULT '0.00000',
  `storage_coins` bigint(20) NOT NULL DEFAULT '0',
  PRIMARY KEY (`object_id`),
  KEY `player_uid` (`player_uid`) USING BTREE
) ENGINE=InnoDB DEFAULT CHARSET=latin1;

-- ----------------------------------
-- Table structure for table `object_data_cherno`
-- ----------------------------------

CREATE TABLE `object_data_cherno` (
  `object_id` int(11) NOT NULL AUTO_INCREMENT,
  `object_uid` bigint(24) NOT NULL DEFAULT '0',
  `instance` int(11) unsigned NOT NULL,
  `classname` varchar(50) NOT NULL DEFAULT '',
  `datestamp` datetime NOT NULL,
  `last_updated` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `character_id` int(11) unsigned NOT NULL DEFAULT '0',
  `ws_x` double(13,5) NOT NULL DEFAULT '0.00000',
  `ws_y` double(13,5) NOT NULL DEFAULT '0.00000',
  `ws_z` double(13,5) NOT NULL DEFAULT '0.00000',
  `ws_dir` double(13,5) NOT NULL DEFAULT '0.00000',
  `ws_ownerpuid` varchar(32) NOT NULL DEFAULT '0',
  `ws_vect` varchar(255) NOT NULL DEFAULT '[[0,0,0],[0,0,0]]',
  `inventory_magazines` text NOT NULL,
  `inventory_weapons` text NOT NULL,
  `inventory_backpacks` text NOT NULL,
  `hitpoints` varchar(512) NOT NULL DEFAULT '[]',
  `fuel` double(13,5) NOT NULL DEFAULT '1.00000',
  `damage` double(13,5) NOT NULL DEFAULT '0.00000',
  `storage_coins` bigint(20) NOT NULL DEFAULT '0',
  PRIMARY KEY (`object_id`),
  KEY `object_uid` (`object_uid`) USING BTREE,
  KEY `instance` (`instance`) USING BTREE
) ENGINE=InnoDB DEFAULT CHARSET=latin1;

-- ----------------------------------
-- Table structure for table `object_data_napf`
-- ----------------------------------

CREATE TABLE `object_data_napf` (
  `object_id` int(11) NOT NULL AUTO_INCREMENT,
  `object_uid` bigint(24) NOT NULL DEFAULT '0',
  `instance` int(11) unsigned NOT NULL,
  `classname` varchar(50) NOT NULL DEFAULT '',
  `datestamp` datetime NOT NULL,
  `last_updated` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `character_id` int(11) unsigned NOT NULL DEFAULT '0',
  `ws_x` double(13,5) NOT NULL DEFAULT '0.00000',
  `ws_y` double(13,5) NOT NULL DEFAULT '0.00000',
  `ws_z` double(13,5) NOT NULL DEFAULT '0.00000',
  `ws_dir` double(13,5) NOT NULL DEFAULT '0.00000',
  `ws_ownerpuid` varchar(32) NOT NULL DEFAULT '0',
  `ws_vect` varchar(255) NOT NULL DEFAULT '[[0,0,0],[0,0,0]]',
  `inventory_magazines` text NOT NULL,
  `inventory_weapons` text NOT NULL,
  `inventory_backpacks` text NOT NULL,
  `hitpoints` varchar(512) NOT NULL DEFAULT '[]',
  `fuel` double(13,5) NOT NULL DEFAULT '1.00000',
  `damage` double(13,5) NOT NULL DEFAULT '0.00000',
  `storage_coins` bigint(20) NOT NULL DEFAULT '0',
  PRIMARY KEY (`object_id`),
  KEY `object_uid` (`object_uid`) USING BTREE,
  KEY `instance` (`instance`) USING BTREE
) ENGINE=InnoDB DEFAULT CHARSET=latin1;

-- ----------------------------------
-- Table structure for table `player_data`
-- ----------------------------------

CREATE TABLE `player_data` (
  `player_uid` varchar(32) NOT NULL,
  `player_name` varchar(128) NOT NULL,
  `player_morality` int(11) NOT NULL DEFAULT '0',
  `player_sex` tinyint(3) NOT NULL DEFAULT '0',
  `player_group` text NOT NULL,
  `player_coins` bigint(20) NOT NULL DEFAULT '0',
  `player_bank_coins` bigint(20) NOT NULL DEFAULT '0',
  PRIMARY KEY (`player_uid`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;

-- ----------------------------------
-- Table structure for table `player_login`
-- ----------------------------------

CREATE TABLE `player_login` (
  `login_id` int(11) NOT NULL AUTO_INCREMENT,
  `player_uid` varchar(32) NOT NULL,
  `character_id` int(11) unsigned NOT NULL,
  `Datestamp` datetime NOT NULL,
  `Action` tinyint(3) NOT NULL,
  PRIMARY KEY (`login_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;

-- ----------------------------------
-- Table structure for table `server_traders`
-- ----------------------------------

CREATE TABLE `server_traders` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `classname` varchar(128) NOT NULL,
  `instance` int(11) NOT NULL,
  `status` varchar(32) NOT NULL,
  `static` text,
  `desc` varchar(128) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=181 DEFAULT CHARSET=utf8;

-- ----------------------------------
-- Dumping data for table `server_traders`
-- ----------------------------------

INSERT INTO `server_traders` VALUES (1,'CIV_EuroMan01_EP1',11,'friendly',NULL,'Weapons Trader - Bash');
INSERT INTO `server_traders` VALUES(2,'Rocker4',11,'friendly',NULL,'Weapons Trader - Klen');
INSERT INTO `server_traders` VALUES(3,'Woodlander3',11,'friendly',NULL,'Parts Trader - Bash');

-- ----------------------------------
-- Table structure for table `traders_data`
-- ----------------------------------

CREATE TABLE `traders_data` (
  `id` int(8) NOT NULL AUTO_INCREMENT,
  `item` varchar(255) NOT NULL COMMENT '[Class Name,1 = CfgMagazines | 2 = Vehicle | 3 = Weapon]',
  `qty` int(8) NOT NULL COMMENT 'amount in stock available to buy',
  `buy` varchar(255) NOT NULL COMMENT '[[Qty,Class,Type],]',
  `sell` varchar(255) NOT NULL COMMENT '[[Qty,Class,Type],]',
  `order` int(2) NOT NULL DEFAULT '0' COMMENT '# sort order for addAction menu',
  `tid` int(8) NOT NULL COMMENT 'Trader Menu ID',
  `afile` varchar(64) NOT NULL DEFAULT 'trade_items',
  PRIMARY KEY (`id`),
  UNIQUE KEY `item` (`item`,`tid`)
) ENGINE=InnoDB AUTO_INCREMENT=7919 DEFAULT CHARSET=latin1;

-- ----------------------------------
-- Dumping data for table `traders_data`
-- ----------------------------------

INSERT INTO `traders_data` VALUES (4996,'[\"Skin_CZ_Special_Forces_GL_DES_EP1_DZ\",1]',20,'[2,\"ItemGoldBar\",1]','[1,\"ItemGoldBar\",1]',0,476,'trade_items');
INSERT INTO `traders_data` VALUES(4999,'[\"Skin_Drake_Light_DZ\",1]',20,'[2,\"ItemGoldBar\",1]','[1,\"ItemGoldBar\",1]',0,476,'trade_items');
INSERT INTO `traders_data` VALUES(5002,'[\"Skin_Soldier_Sniper_PMC_DZ\",1]',42,'[2,\"ItemGoldBar\",1]','[1,\"ItemGoldBar\",1]',0,476,'trade_items');

-- ----------------------------------
-- Table structure for table `trader_tids`
-- ----------------------------------

CREATE TABLE `trader_tids` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(128) NOT NULL,
  `trader` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=720 DEFAULT CHARSET=utf8;

-- ----------------------------------
-- Dumping data for table `trader_tids`
-- ----------------------------------

INSERT INTO `trader_tids` VALUES (1,'Sidearm',1);
INSERT INTO `trader_tids` VALUES(2,'Rifles',1);
INSERT INTO `trader_tids` VALUES(3,'Shotguns and Single-shot',1);
